<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.mateoj.hacku4"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".HackUApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/parse_app_id"/>
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/parse_app_key"/>



    <activity android:name=".MainActivity">

        </activity>

        <activity android:name=".New_Activity_A">
        </activity>

        <activity android:name=".LoginActivity">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity
            android:name=".InterestActivity"
            android:label="@string/title_activity_interest"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DetailActivity"
            android:label="@string/title_activity_detail"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".FencesActivity"
            android:theme="@style/AppTheme.NoActionBar"
            ></activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBy3C0n_yBmqOLlt9gLkh7FDrF3OXtDpWo"/>

        <service android:name=".GeofenceTransitionsIntentService"/>

        <activity
            android:name="com.parse.ui.ParseLoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_ENABLED"
                android:value="true"/>
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_EMAIL_AS_USERNAME"
                android:value="true"/>
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.FACEBOOK_LOGIN_ENABLED"
                android:value="true"/>
        </activity>
    </application>
</manifest>
